**1. Give examples of boolean, integer, float and string data types and explain them breifly (2M)**.

**Integer** - It is a numeric values which does not contain Decimals. E.g. 2+2 Ans. 4 (0, -1, +5)

**Float** - It is also a numeric vlues which contains Decimal valuse. E.g. 5/4 Ans. 1.25

**String** - It contains set of characters. E.g. ABCD, My Name....

**Boolean** - It has two possible values i.e. True/False. It show if the given statement is True or False. 
E.g 1
    3
    1<3
    the statement is correct hence it results True

**2. Match the data structures given in column A with the types of brackets associated with them and their properties (1.5 Marks)**

| Data structues | Types of brackets |  Properties |
| --- | --- | --- |
| (a) List | 1. { } |  (X) Immutable and ordered |
| (b) Tuple |2. [ ] |  (Y) Mutable and ordered   |
| (c) Dictionary |3. ( ) | (Z)  key â€“ value pairs |
|

List - [ ] - Ordered and Changable
Tuble - ( ) - Ordered and Unchangable
Dictionary - { } - Key-value pairs

**3 Match Column A statements with their respective output in the below options (2.5 Marks)**

| Column A | Output 
| --- | --- 
| (a) 50 % 2 | (1) 25.5
| (b) 51 / 2 | (2) 1
| (c) 51 // 2 | (3) 0
| (d) bool(51 % 2) |(4) 25
| (e)((555//5) % 5) ** 3 | (5)True

*   50%2 - 0
*   51/2 - 25.2
*   51//2 - 25
*   bool(51%2) - True
*   ((555//5)%5)**3 - 1

**4. Write a program to convert temperature from Fahrenheit to Celsius degree.(1.5 Marks)**

In [ ]:
Fahrenheit = 642                                      ## Assigned Variable to enter Fahrenheit value
Celsius = ((Fahrenheit-32)*5)/9                      ## added the formulae to convert Fahrenheit to Celsius
print("Temperature in Celsius is", Celsius)          ## print function to with str statement + Celsius

Temperature in Celsius is 338.8888888888889

In [ ]:
Fah = float(input("Enter Temperatire in Fahrenheit: "))    ## assined variable to input function also float is used     
Cels = ((Fah-32)*5)/9                                   ## assigned variable to convert fahrenheit - celsius formula
print("Temperature in Celsius is", Cels)                ## print function to get result with str notes

Enter Temperatire in Fahrenheit: 642
Temperature in Celsius is 338.8888888888889

**5. Given below is a code. Briefly comment on each code line using '#' symbol and  predict what the program is intended for (1.5 Marks)**.

In [3]:
num = int(input("Enter a number: "))  ## It is input function to enter a numnber which will be in Integer only as int is passed
if (num % 2) == 0:                    ## if command. Entered int number divided by 2 if its remainder is 0
   print(f"{num} is Even")            ## print function will work if the remainder is Zero (Entered number is Even)
else:                                 ## else command. if the above statement is not satisfied which means remainder is not zero
   print(f"{num} is Odd")             ## it will print Entered number is odd

Enter a number: 3
3 is Odd

It is a if else command to find if the entered number is Even or Odd

**6. A list of grades of students is given below. Find the unique grades in them. (1 Mark)**

Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'NA', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'E','NA', 'C']

In [1]:
Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'NA', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'E','NA', 'C']
Unique_Grades = set(Grades) ## I have converted the table into Set
Unique_Grades               ## Call the Set Collection

{'A', 'B', 'C', 'D', 'E', 'F', 'NA'}